<html>
	<!-- Basic In-Line stylesheet -->
	<style>
		
	</style>
<head><title>HomePage</title>
</head>
<body>
<h1>University Search</h1>

<table><tr>
<th><a href="/">Home</a></th>
<th></th>
<th><a href="/search">Search University</a></th>
<th></th>
<th><a href="/compare">Compare University</a></th>
</tr></table>

<br><br>
<form action = "" method = "POST">
	    {% csrf_token %}
<input type="submit" value="Get All Universities">
</form>
<table>
	<tr>
		<th>ID</th>
		<th>Name</th>
		<th>Rank</th>
		<th>Score</th>
		<th>Country</th>
		<th>Year</th>
		<th>City</th>
		<th>Region</th>
		<th>Type</th>
		<th>Research Output</th>
		<th>Student to Faculty Ratio</th>
		<th>No. of International Students</th>
		<th>Size</b></th>
		<th>Faculty Count</th>
		<th>More...</th>
	</tr>
{% for x in output1 %}

	<tr>
		<td>{{ x.0 }}</td>
		<td>{{ x.1 }}</td>
		<td>{{ x.2 }}</td>
		<td>{{ x.3 }}</td>
		<td>{{ x.4 }}</td>
		<td>{{ x.5 }}</td>
		<td>{{ x.6 }}</td>
		<td>{{ x.7 }}</td>
		<td>{{ x.8 }}</td>
		<td>{{ x.11 }}</td>
		<td>{{ x.12 }}</td>
		<td>{{ x.13 }}</td>
		<td>{{ x.14 }}</td>
		<td>{{ x.15 }}</td>
		<td>
			<form method="post" action="/search/selected/">
		    {% csrf_token %}
			<button class="selectButton" id="Selection" name="Selection" value={{ x.0 }} >More Details</button>
			</form>
		</td>

	</tr>
{% endfor %}
</table>
</body>
</html>