{% extends 'base.html' %}
{% load static %}
{% block content %}

<html>
	<!-- Basic In-Line stylesheet -->
<head>
	<title>HomePage</title>

	<style>
		a:link, a:visited {
  		background-color: white;
 		color: black;
  		border: 2px solid coral;
  		padding: 10px 20px;
  		text-align: center;
  		text-decoration: none;
  		display: inline-block;
		}

		a:hover, a:active {
  		background-color: SlateBlue;
  		color: white;
		}
	</style>

<head><title>SearchPage</title>
</head>

<body>
<h1>University Search</h1> 

<table><tr>
<th><a href="/">Home</a></th>
<th></th>
<th><a href="/search">Search University</a></th>
<th></th>
<th><a href="/compare">Compare University</a></th>
</tr></table>

<form action = "" method = "POST">
    {% csrf_token %}
    <label for="criteria">Enter your search criteria: </label>
    <input id="criteria" type="text" name="criteria">
	<br><br>
  	<label for="search">Search by:</label>
  		<select id="search" name="search" size="1" >
    		<option value="university">University</option>
    		<option value="rank_display">Rank</option>
    		<option value="country">Country</option>
			<option value="region">Region</option>
    		<option value="score">Score</option>
  		</select>
	<br><br>
	
    <input type="submit" value="Search">
</form>

<table>
	<tr>
		<th>ID</th>
		<th>Name</th>
		<th>Score</th>
		<th>Country</th>
		<th>City</th>
		<th>Region</th>
		<th>Type</th>
		<th>More Details</th>
	</tr>
{% for x in output %}
	<tr>
		<td>{{ x.0 }}</td>
		<td>{{ x.1 }}</td>
		<td>{{ x.2 }}</td>
		<td>{{ x.3 }}</td>
		<td>{{ x.4 }}</td>
		<td>{{ x.5 }}</td>
		<td>{{ x.6 }}</td>
		<td>
			<form method="post" action="selected/">
		    {% csrf_token %}
			<button class="selectButton" id="Selection" name="Selection" value={{ x.0 }} >More Details</button>
			</form>
		</td>
	</tr>

{% endfor %}
</table>
</body>
</html>
{% endblock  %}
