<html>
	<!-- Basic In-Line stylesheet -->
	<style>
		
	</style>
<head><title>UniPage</title>
</head>
<body>
<h1>Selected University</h1> 

<table><tr>
<th><a href="/">Home</a></th>
<th></th>
<th><a href="/search">Search University</a></th>
<th></th>
<th><a href="/compare">Compare University</a></th>
</tr></table>

<p><b>ID:</b> 	{{ output.0  }} </p>
<p><b>Name:</b> 	{{ output.1  }} </p>
<p><b>Rank:</b> {{ output.2  }} </p>
<p><b>Score:</b> {{ output.3  }} </p>
<p><b>Country</b> {{ output.4  }} </p>
<p><b>Year</b> {{ output.5  }} </p>
<p><b>City</b> {{ output.6  }} </p>
<p><b>Region</b> {{ output.7  }} </p>
<p><b>School Type</b> {{ output.8  }} </p>
<p><b>Logo</b> {{ output.9  }} :</p><img src={{ output.9  }}>
<p><b>Official Site Link</b> <a href={{ output.10 }}>{{ output.10 }}</a></p>
<p><b>Research Output</b> {{ output.11 }} </p>
<p><b>Student to Faculty Ratio</b> {{ output.12 }} </p>
<p><b>No. of International Students</b> {{ output.13 }} </p> 
<p><b>Size</b> {{ output.14 }} </p>
</table>

</body></html>